{% extends "base.html" %}

{% block base %}
    <!--<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>-->
    <div class="container-fluid">
        <div class="row">
    
            <!--
            <div class="col-md-6 offset-md-3 mt-5 mb-5">
                <p class="lead text-center" style="color: grey; font-weight: 900">
                    Extração de informações em um Webservice de provisionamento de redes.

                </p>
                <p>
                    <strong>
                        <a class="text-primary" href="https://github.com/liragabriel/netstats.">Repositório</a><br>
                        <a class="text-primary" href="http://www.liragabriel.com/">Autor</a>
                    </strong>

                </p>
            </div>
            -->

            <div class="col-md-6 offset-md-3">
                <div class="mt-4 mb-4"><strong>Estatísticas Gerais:</strong></div>
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th scope="col">Quantidade de operações:</th>
                        <td>{{ data['Quantidade de operações'] }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Quantidade de fsans:</th>
                        <td>{{ data['Quantidade de fsans'] }}</td>
                    </tr>
                    </tr>
                        <th scope="col">Média de operações por fsan:</th>
                        <td>{{ data['Média de operações por fsan'] }}</td>
                    </tr>
                    </tr>
                        <th scope="col">Maior número de operações em uma fsan:</th>
                        <td>{{ data['Maior número de operações em uma fsan'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock base %}
