{% extends "base.html" %}

{% block base %}
    <div class="container-fluid">
        <div class="row">
    
            
            <div class="col-md-6 offset-md-3 mt-5 mb-5">
                <h2 class="text-center text-secondary" style="font-weight: 900;">NetStats</h2>
                <p class="lead text-center text-secondary mb-4" style="font-weight: 900">
                    Extração de informações em um Web service de provisionamento de redes.

                </p>
                <p class="text-center">
                    <strong>
                        <a class="text-dark" href="https://github.com/liragabriel/netstats">
                            <i class="fab fa-github"> Repositório &nbsp;</i>
                        </a>
                        <a class="text-dark" href="http://www.liragabriel.com/">
                            <i class="fas fa-user"> Autor</i>
                        </a>
                    </strong>
                </p>
            </div>
           

            <div class="col-md-6 offset-md-3">
                <div class="mt-4 mb-4"><strong>Estatísticas Gerais:</strong></div>
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th scope="col">Quantidade de operações:</th>
                        <td>{{ data['Quantidade de operações'] }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Quantidade de fsans:</th>
                        <td>{{ data['Quantidade de fsans'] }}</td>
                    </tr>
                    </tr>
                        <th scope="col">Média de operações por fsan:</th>
                        <td>{{ data['Média de operações por fsan'] }}</td>
                    </tr>
                    </tr>
                        <th scope="col">Maior número de operações em uma fsan:</th>
                        <td>{{ data['Maior número de operações em uma fsan'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock base %}
