{% extends "base.html" %}

{% block base %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <h5 class="text-center mt-4">Gráfico</h5>
                        <img  src="static/status_code.png">
                    </div>
                    <div class="col-md-3 mt-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Frequência</th>
                                </tr>
                            </thead>
                            {% for i in range(length) %}
                                <tr>
                                    <td>{{ data["code"][i] }}</td>
                                    <td>{{ data["frequencia"][i] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base %}
