ul {
	margin-top: 5px;
	color: #ffffff
}

html {
	position: relative;
	min-height: 100%;
}

a {
	color: #ffffff;
}

input[type="search"] {
    -webkit-appearance: none;
    width: 50%;
    margin: 0 auto;

}

.col-md-12 {
    width: 100%;
    margin-top: 100px;
}

.in-middle{
	position: absolute;
	transform: translateY(-50%);
}

.header {
    padding: 8px;
    text-align: left;
    background: #449dc7;
    color: white;
	font-size: 16px;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	border-radius: 4px;
	margin: 0 auto;
}

.menu {
	display: inline-flex;
}

.pesquisa_fsan {
	width: 200px;
	margin-top: 15px;
}

#btn_home{
	margin-left: 10%;
	margin-bottom: 15px;
	margin-top: 15px;
}

#acc_url {
    width: 100%
}

#painel_acc {
    margin-top:20px;
    text-align: center;
}

#painel_error {
    margin-top:20px;
    text-align: center;
}

.tb_btn {
	float: right;
	width: 100%
}

.dataframe {
	width: 80%;
	margin: 0 auto;
}

.btn {

    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 45%;
    width: 10%;
	background-color: #449dc7;
}
