html {
    height: 100%;
}

body {
    min-height: 100%;
}

img {
    width: 50%;
}

.imagem {
    text-align: center;
    border: solid
}

.dataframe {
    width: 100%;
    margin: 0 auto;
    border: solid
}

.jumbotron {
    background-image: url("fundo.jpeg");
    background-size: cover
}
