html {
    height: 100%;
}

body {
    min-height: 100%;
}

img {
    width: 50%;
}

thead {
    border: hidden;
}

.imagem {
    text-align: center;
    border: solid;
}

.dataframe {
    width: 100%;
    margin: 0 auto;
    border: hidden;
}

.jumbotron {
    background-image: url("fundo.jpeg");
    background-size: cover;
}

.title-home {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 900;
}

.titulo-stats {
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}