html {
    height: 100%;
}

body {
    min-height: 100%;
}

img {
    width: 80%;
}

.imagem {
    text-align: center;
}

.dataframe {
    width: 80%;
    margin: 0 auto;
}

.nav-link {
    color: darkslategray;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
}
