{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 style="text-align: center; margin-bottom: 30px">Acessos por URL</h1>
                <form style="background-color: lightgrey">
                    {{ data | safe }}
                    <p class="imagem"><img src="static/acessos_por_url.png"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
