{% extends "base.html" %}

{% block base %}
    <style>
        .side-analises {height: 100%;}
    </style>
    <div class="container-fluid side-analises" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12">
                <div class ="row">
                    <div class="col-lg-4">
                        <form class="border border-dark rounded">
                            <a href="acessos-por-usuario">
                                <p class="imagem"><img src="static/acessos_por_usuario.png"></p>
                            </a>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <form class="border border-dark rounded">
                            <a href="acessos-por-url">
                                <p class="imagem"><img src="static/acessos_por_url.png"></p>
                            </a>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <form class="border border-dark rounded">
                            <a href="status-code">
                                <p class="imagem"><img src="static/status_code.png"></p>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <form class="border border-dark rounded">
                            <a href="percentual-sucesso">
                                <p class="imagem"><img src="static/percentual_sucesso.png"></p>
                            </a>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <form class="border border-dark rounded">
                            <a href="sucesso-por-operacao">
                                <p class="imagem"><img src="static/operacao_sucesso.png"></p>
                            </a>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <form class="border border-dark rounded">
                            <a href="erros-por-operacao">
                                <p class="imagem"><img src="static/operacao_error.png"></p>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base %}

<!-- <div class="col-lg-2" style="background-color: lightslategray">
                <div class="wrapper">
                    <nav>
                        <div class="sidebar-header">
                            <h3>Relatórios</h3>
                        </div>
                        <ul class="list-unstyled components">
                            <li class="nav-item">
                                <a class="nav-link" href="acessos-por-usuario">
                                    <i class="far fa-edit"></i>
                                    <span>Acessos por Usuário</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="acessos-por-url">
                                    <i class="far fa-edit"></i>
                                    <span>Acessos por URL</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="status-code">
                                    <i class="far fa-edit"></i>
                                    <span>Status Code</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="percentual-sucesso">
                                    <i class="far fa-edit"></i>
                                    <span>Percentual de Sucesso</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sucesso-por-operacao">
                                    <i class="far fa-edit"></i>
                                    <span>Sucesso por Operação</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="erros-por-operacao">
                                    <i class="far fa-edit"></i>
                                    <span>Erros por Operação</span>
                                </a>
                            </li>
                        <ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-10">
                {% block content %}
                {% endblock content %}
            </div> -->