<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/fontAwesome/css/all.css">
        <link rel="stylesheet" type="text/css" href="static/estilo.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>NetStats</title>
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-3 shadow">
            <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="home">NetStats</a>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2.5 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column" style="margin-top: 30px">
                            <li class="nav-item">
                                <a class="nav-link active" href="home">
                                <i class="fas fa-home"></i>
                                <span>Home</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pesquisar_fsan">
                                <i class="fas fa-search"></i>
                                <span>Pesquisar Fsan</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-chart-line"></i>
                                    <span>Estatísticas de Acesso</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                    <a class="dropdown-item left-menu-item" href="acessos_por_usuario">Acessos por Usuário</a>
                                    <a class="dropdown-item left-menu-item" href="acessos_por_url">Acessos por URL</a>
                                    <a class="dropdown-item left-menu-item" href="status_code">Status Code</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-chart-line"></i>
                                    <span>Estatísticas de Operações</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                    <a class="dropdown-item left-menu-item" href="percentual_sucesso">Percentual de Sucesso</a>
                                    <a class="dropdown-item left-menu-item" href="sucesso_por_operacao">Sucesso por Operação</a>
                                    <a class="dropdown-item left-menu-item" href="erros_por_operacao">Erros por Operação</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: 10%; width: 100%">
                    {% block content %}
                    {% endblock content %}
                </main>
            <div>
        </div>
    </body>
</html>
