<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/estilo.css">
		<script src="static/jquery.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<title>Error Stats</title>
	</head>
	<body>
	    <div class="header">
	        <ul class="nav nav-pills">
	            <li class="nav-item">
	                <a class="nav-link" href="home" title="Home">Home</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="access" title="Access">Access Stats</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="error" title="Error">Error Stats</a>
	            </li>
	        </ul>
	    </div>
		<div id="graficos" class="container">
	      	<div class="panel-goup" id="painel_error">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" data-toggle="collapse" data-target="#primeiro" data-parent="#painel_error">Percentual de Sucesso</h3>
					</div>
					<div id="primeiro" class="collapse">
						<div class="panel-body">
							<img src="static/percentual_sucesso.png">
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" data-toggle="collapse" data-target="#segundo" data-parent="#panel_error">Sucesso por Operações</h3>
					</div>
					<div id="segundo" class="collapse">
						<div class="panel-body">
							<img src="static/operacao_sucesso.png">
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" data-toggle="collapse" data-target="#terceiro" data-parent="#panel_error">Erros por Operações</h3>
					</div>
					<div id="terceiro" class="collapse">
						<div class="panel-body">
							<img src="static/operacao_error.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
