{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4" style="color: white; font-weight: 900">TESTE</h1>
                        <p class="lead" style="color: white; font-weight: 900">Testando o teste testado.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-10" style="margin: 0 auto">
                <h2>Texto para teste</h2>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empresas de telecomunicações utilizam diversas ferramentas para oferecer serviços de qualidade ao cliente, além da conexão física, que é o que costumamos enxergar, em telecomunicações são utilizadas APIs  RESTful que são responsáveis por ser a “linha de chegada” de todos os protocolos que garantem acesso ao usuário final. O objetivo deste trabalho é trazer uma ferramenta capaz de analisar as requisições HTTP em um Web service de provisionamento GPON utilizando a ciência de dados em busca de padrões para formulação de soluções para eventuais problemas que possam ocorrer em determinado recurso do sistema, essa ferramenta utiliza algoritmos para abstração de dados, identificação de padrões e concepção de gráficos em um sistema web simples e útil.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
