{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4" style="color: white; font-weight: 900">TESTE</h1>
                        <p class="lead" style="color: white; font-weight: 900">Testando o teste testado.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-10" style="margin: 0 auto">
                <h2 class="title-home">Teste</h2>
                <p>
                    Aqui vai ficar um texte legal
                </p>
                <h2 class="title-home">Outro teste</h2>
                <p>
                    Aqui vai ficar outro texto legal
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
