{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="pesquisar-fsan" method="POST">
            <div class="row justify-content-center" style="margin-bottom: 30px">
                <form class="form">
                    <div class="col-md-5 col-sm-12">
                        <input name="fsan" class="form-control mr-sm-2" type="search" placeholder="Pesquisar FSAN" aria-label="Search">
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                    </div>
                </form>
            </div>
        </form>
        <form>
            <div class="table-responsive table-striped">
                {{ resposta | safe }}
            </div>
        </form>
    </div>
{% endblock content %}
