<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/estilo.css">
        <script src="static/jquery.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <title>Home</title>
    </head>

    <body>

        <div class="header">
            <nav class="navbar">
                <ul class="menu">
                    <ul>
                        <a href="home" title="Home">Home</a>
                    </ul>
                    <ul>
                        <a href="access" title="Access">Access</a>
                    </ul>
                    <ul>
                        <a href="error" title="Error">Error</a>
                    </ul>
                </ul>
            </nav>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <form action="home" method="POST">
                        <fieldset>
                            <div>
                                <input class="pesquisa_fsan" type="text" id="fsan" name="fsan">
                            </div>
                            <div>
                                <button class="pesquisa_fsan" type="submit">Pesquisar FSAN</button>
                            </div>
                        </fieldset>
                    </form>

                    <div id="btn_acc">
                        <table class="tb_btn">
                            <a href="access" class="btn_acc">Access Stats</a>
                        </table>
                    </div>

                    <div id="btn_error">
                        <table class="tb_btn">
                            <a href="error" class="btn_error">Error Stats</a>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">TESTE</h1>
                            <p class="lead">Testando o teste testado</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>

</html>
