<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/estilo.css">
        <script src="static/jquery.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <title>Home</title>
    </head>

    <body>

        <div class="header">
            <nav class="nav_menu">
                <ul class="menu">
                    <ul>
                        <a href="home" title="Home">Home</a>
                    </ul>
                    <ul>
                        <a href="access" title="Access">Access</a>
                    </ul>
                    <ul>
                        <a href="error" title="Error">Error</a>
                    </ul>
                </ul>
            </nav>
        </div> 

        <table>
            <div id="btn_acc">
                <form>
                    <a href="access" class="btn_acc">Access Stats</a>
                </form>
            </div>

            <div id="btn_error">
                <form>
                    <a href="error" class="btn_error">Error Stats</a>
                </form>
            </div>
        </table>

    <footer>
        
    </footer>

    </body>

</html>
